<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href="/icon.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/styles.css" />
        <script src="/search.js" defer></script>
        <title>note</title>
    </head>
    <body>
        <h1>日语学习笔记</h1>
        <input type="text" id="search">
        <div id="result"></div>
        <h2>语法</h2>
        {% for grammar in collections.grammar-list %}<a href="{{grammar.url}}">{{grammar.data.title}}</a>{% unless forloop.last %}、{% endunless %}{% endfor %}
        <h2>近义语法对比</h2>
        {% for grammar in collections.grammar-diff %}<a href="{{grammar.url}}">{{grammar.data.title}}</a>{% unless forloop.last %}、{% endunless %}{% endfor %}
        <h2>高频词</h2>
        {% for vocab in collections.vocab-list %}<a href="{{vocab.url}}">{{vocab.data.title}}</a>{% unless forloop.last %}、{% endunless %}{% endfor %}
        <h2>近义词对比</h2>
        {% for vocab in collections.vocab-diff %}<a href="{{vocab.url}}">{{vocab.data.title}}</a>{% unless forloop.last %}、{% endunless %}{% endfor %}
        <h2>发音与听力</h2>
        {% for c in collections.speaking-listening %}<a href="{{c.url}}">{{c.data.title}}</a>{% unless forloop.last %}、{% endunless %}{% endfor %}
    </body>
    <script>
      const data = [
        {% for grammar in collections.grammar-list %}
          {
            title: "{{ grammar.data.title }}",
            url: "{{ grammar.url }}"
          }{% if forloop.last == false %},{% endif %}
        {% endfor %}
      ];
    </script>
</html>
